:root {
    --body-bg-color: #e4e6f5;
    --border-color: #e5e4e9;
    --theme-bg-color: white;
    --body-color: black;
    --main-color: #7a7e9d;
    --main-light-color: #a1a4b9;
    --title-color: #979dc3;
    --body-font: "Jost", sans-serif;
    --button-bg-color: #eaeefc;
    --button-color: #4d76fd;
    --unselected-mail: #f1f2f7;
    --calendar-border-color: #cbcfe0;
    --main-container-bg: #f0f0f7;
    --button-color: #4d76fd;
    /* --button-color: #4d76fd; */
    --tag-child1: #faedcb;
    --tag-child2 : #c9e4de;
    --tag-child3 :#C6DEF1;
    --tag-child4: #f2c6de;
    
    

}

* {
    outline: none;
    box-sizing: border-box;
}
/* h3{
     margin-bottom:0;
    } */
html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: var(--body-bg-color);
    background-color: var(--body-bg-color);
    color: var(--body-color);
    /* font-size: 15px; */
    font-family: Lora;
    font-size: 15px;

}

img {
    max-width: 100%;
}

.container {
    background-color: var(--theme-bg-color);
    display: flex;
    max-width: 1800px;
    /* height: 100vh; */
    overflow: hidden;
    margin: 0 auto;
    /* font-family: 'Lora';font-size: 18px; */
}



/* #profile */

.profile-area {
    width: 250px;
    border-right: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    /* flex-shrink: 0; */
    overflow: auto;
}

.task-manager {
    font-size: 15px;
    color: var(--title-color);
    font-weight: 700;
    text-align: center;
    height: 70px;
    letter-spacing: 0.7px;
    line-height: 70px;
    position:static;
    top: 0;
    z-index: 3;
    text-transform: uppercase;
    background-color: var(--theme-bg-color);
    border-bottom: 1px solid var(--border-color);
}


.user-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    /* position: static; */
    /* display:; */


}

.user-name {
    font-weight: 600;
    margin: 15px 0 8px;
}

.user-mail {
    color: var(--main-light-color);
    font-size: 12px;
    font-weight: 600;
}

.user-profile {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.side-wrapper {
    padding: 25px 40px;
    border-bottom: 1px solid var(--border-color);

}

.side-wrapper:last-child {
    border-bottom: none;
}

.user-notifications {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;

}

.user-notifications i {
    width: 36px;
    padding: 10px;
    flex-shrink: 0;
    border-radius: 50%;
    overflow: visible;
    background-color: var(--button-bg-color);
    color: var(--button-color);
}


/* .button {
    display:block;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 1px solid red;
    
} */


.notify {
    position: relative;

}


.notify:not(:last-child) {
    margin-right: 25px;
}

.notify.alert {
    position: relative;

}

/* .notify::after{
    position: absolute;
    top: 4px;
    width: 100px;
    height: 10px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    border-radius: 20px;
    transition: 0.3s ease all;
} */





.notify.alert:before {
    content: "2";
    font-size: 9px;
    font-weight: 700;
    position: absolute;
    background-color: #ff537b;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    top: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    color: white;

}

.notify.alert:last-child:before {
    content: "5";

}





.progress {
    margin: 5px;
    border-radius: 4px;
    background-color: #e7e7ef;
    height: 8px;
    overflow: hidden;
}

.progress-bar {
    background-color: var(--button-color);
    border-radius: 4px;
    width: 19%;
    height: 100%;
    animation: progressAnimation auto;
    transition: 0.3s linear both;
    transition-property: width, background-color;
}

.progress-status {
    margin-top: 30px;
    text-align: right;
    color: var(--main-color);
    font-size: 10px;
    font-weight: 600;
}


@keyframes progressAnimation {
    0% {
        width: 5%;
        background-color: #a2b6f5;

    }

    100% {
        width: 19%;
    }
}

.task-status {
    margin-top: 20px;
    display:block;
    align-items: center;
    justify-content: space-evenly;
}

.task-stat {
    text-align: center;
}

.task-number {
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 10px;
}

.task-condition {
    font-size: 15px;
    color: var(--main-color);
    font-weight: 700;
}

.task-tasks {
    margin-top: 4px;
    font-size: 10px;
    font-weight: 600;
    color: var(--main-light-color);
}

.tag {
    position: relative;
    vertical-align: middle;
    padding: 0 30px;
    color: var(--main-color);
    font-size: 13px;
    font-weight: 600;
    margin-top: 14px;
}

.tag:before {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 10;
    left: 0;
}

.tag-title {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 18px;
}

.tag:nth-child(1):before {
    border: 3px solid var(--tag-child1)

}

.tag:nth-child(2):before {
    border: 3px solid var(--tag-child2)

}

.tag:nth-child(3):before {
    border: 3px solid var(--tag-child3)

}

.tag:nth-child(4):before {
    border: 3px solid var(--tag-child4)

}




/* header */

.main-area {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
    /* max-height: 100vh; */

}

.header {
    height: 70px;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px 0 30px;
}

.search-bar {
    height: 70px;
    position: relative;
}

.search-bar input {
    height: 100%;
    width: 100%;
    display: block;
    background-color: transparent;
    border: none;
    color: var(--button-color);
    padding: 0 35px;
    background-image: url("images/search.svg");
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 0 50%;
    font-family: var(--body-font);
    font-weight: 600;
    font-size: 14px;
    /* margin-right: 10px; */
    /* flex-shrink: 0; */
}

.search-bar input::placeholder {
    color: var(--main-light-color);
}

.calendar-todolist {
    margin-right: 200px;
    position: relative;
    width: 220px;
    border-radius: 20px;
    height: 36px;
    display: flex;
    align-items: center;
    overflow: hidden;
    flex-shrink: 0;
}


.calendar-todolist-checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    z-index: 3;
    cursor: pointer;
}

.calendar-todolist-checkbox:checked+.toggle-page span {
    color: var(--main-light-color);
}

.calendar-todolist-checkbox:checked+.toggle-page::before {
    left: 109px;
}

.calendar-todolist-checkbox:checked+.toggle-page::after {
    color: var(--theme-bg-color);
}

.toggle-page {
    overflow: hidden;
    z-index: 2;
}

.toggle-page::before,
.toggle-page::after,
.toggle-page span {
    position: absolute;
    top: 4px;
    width: 100px;
    height: 10px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    border-radius: 20px;
    transition: 0.3s ease all;
}

.toggle-page::before {
    content: "";
    left: 4px;
    background-color: var(--button-color);
}

.toggle-page span {
    color: var(--theme-bg-color);
    z-index: 1;
    left: 6px;
}

.toggle-page::after {
    content: "To Do List";
    right: 4px;
    color: var(--main-light-color);
}



.color-menu {
    flex-shrink: 0;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    width: 32px;
    height: 32px;
}

.color-menu svg {
    position: absolute;
    z-index: 8;
    width: 17px;
    top: 7px;
    right: 8px;
    fill: white;
    pointer-events: none;
}

.colorpicker {
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 55px;
    top: -8px;
    position: absolute;
    cursor: pointer;
}








/* calendar-container */
.main-container{
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    background-color: var(--main-container-bg);
    height: 1800px;
    /* max-height: 100vh; */
    
}

.calendar-container {
    position: relative;
    width: 1200px;
    min-height: 850px;
    margin: 0 auto;
    padding: 5px;
    color: #fff;
    display: flex;
    border-radius: 10px;
    background-color: #373c4f;
    /* display: none; */
}

.left-main-container {
    width: 70%;
    padding: 20px;
    flex-shrink: 0;
    border-right: 1px solid var(--border-color);

}

.calendar {
    position: relative;
    width: 100%;
    height: 0%;
    /* display: flex; */
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #878895;
    border-radius: 5px;
    background-color: #fff;
    display: none;

}
.calendar.active{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #878895;
    border-radius: 5px;
    background-color: #fff;
    /* display: none; */

}

.calendar .month {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: capitalize;
}

.calendar .month .prev,
.calendar .month .next {
    cursor: pointer;
}

.calendar .month .prev:hover,
.calendar .month .next:hover {
    color: var(--button-color);
}

.calendar .weekdays {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
}

.weekdays div {
    width: 14.28%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar .days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.calendar .days .day {
    width: 14.28%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--button-color);
    border: 1px solid #f5f5f5;
}

.calendar .days .day:nth-child(7n + 1) {
    border-left: 2px solid #f5f5f5;
}

.calendar .days .day:nth-child(7n) {
    border-right: 2px solid #f5f5f5;
}

.calendar .days .day:nth-child(-n + 7) {
    border-top: 2px solid #f5f5f5;
}

.calendar .days .day:nth-child(n + 29) {
    border-bottom: 2px solid #f5f5f5;
}

.calendar .days .day:not(.prev-date, .next-date):hover {
    color: #fff;
    background-color: var(--button-color);
}

.calendar .days .prev-date,
.calendar .days .next-date {
    color: #b3b3b3;
}

.calendar .days .active {
    position: relative;
    font-size: 2rem;
    color: #fff;
    background-color: var(--button-color);
}

.calendar .days .active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px 2px var(--button-color);
}

.calendar .days .today {
    font-size: 2.6rem;

    color: #ff537b;
}

.calendar .days .event {
    position: relative;
}

.calendar .days .event::after {
    content: "";
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 75%;
    height: 6px;
    border-radius: 30px;
    transform: translateX(-50%);
    background-color: var(--button-color);
}

.calendar .days .day:hover.event::after {
    background-color: #fff;
}

.calendar .days .active.event::after {
    background-color: #fff;
    bottom: 20%;
}

.calendar .days .active.event {
    padding-bottom: 10px;
}

.calendar .goto-today {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 0 20px;
    margin-bottom: 20px;
    color: var(--button-color);
}

.calendar .goto-today .goto {
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid var(--button-color);
}

.calendar .goto-today .goto input {
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 20px;
    color: var(--button-color);
    border-radius: 5px;
}

.calendar .goto-today button {
    padding: 5px 10px;
    border: 1px solid var(--button-color);
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    color: var(--button-color);
}

.calendar .goto-today button:hover {
    color: #fff;
    background-color: var(--button-color);
}

.calendar .goto-today .goto button {
    border: none;
    border-left: 1px solid var(--button-color);
    border-radius: 0;
}








/* right-main-container */ 
.main-container .right-main-container {

    position: relative;
    width: 40%;
    /* min-height: 100%; */
    padding: 20px 0;
}
.right-main-container .today-date{
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    padding-left: 70px;
    margin-top: 50px;
    margin-bottom: 20px;
    text-transform: capitalize;
    color: var(--button-color);
}
.today-date .event-day{
    font-size: 2rem ;
    font-weight: 500;
}
.today-date .event-date{
    font-size: 1rem;
    font-weight: 400;
}


.events{
    width: 100%;
    height: 80%;
    max-height: 530px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 4px;
    overflow: auto; 

    
}
 .events .event{
    position: relative;
    min-width: 250px;
    /* min-height: 100px; */
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* gap: 5px; */
    /* padding: 0 20px; */
    /* padding-left: 0px; */
    cursor: pointer;
    overflow: auto;
    margin-bottom: 5px;
    /* border-bottom-left-radius:15% ; */
    color:   var(--body-color);
} 

.events .event .event-tag1{
    /* position: relative; */
    width: 95%;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */

    padding: 0px 0px 0px 30px;
    /* padding-left: 30px; */
    /* cursor: pointer; */
    background: linear-gradient(90deg,var(--tag-child1),transparent);
}
.events .event .event-tag2{
    /* position: relative; */
    width: 95%;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */

    padding: 0 20px;
    padding-left: 30px;
    /* cursor: pointer; */
    background: linear-gradient(90deg,var(--tag-child2),transparent);
}
.events .event .event-tag3{
    /* position: relative; */
    width: 95%;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */

    padding: 0 20px;
    padding-left: 30px;
    /* cursor: pointer; */
    background: linear-gradient(90deg,var(--tag-child3),transparent);
}
.events .event .event-tag4{
    /* position: relative; */
    width: 95%;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */

    padding: 0 20px;
    padding-left: 30px;
    /* cursor: pointer; */
    background: linear-gradient(90deg,var(--tag-child4),transparent);
}

.events .no-event{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: #878787;
}

.events .event:hover{
    background: linear-gradient(90deg,var(--button-color),transparent);
}

.events .event .title {
    display: flex;
    align-items: center;
    pointer-events: none;
}

.events .event:hover .title .event-title{
    /* color:white; */
    font-size: 1rem;
    font-weight: 600;
    
    margin:10px;
       
    /* margin-left: 20px; */
}


.events .event .event-time,.location {
    font-size: 0.8rem;
    font-weight: 400;
    color: #878895;
    /* margin-left: 15px; */
    pointer-events: none;
}
.events .event::after{
    content: 'X';
    position: absolute;
    top: 30%;
    right: 0;
    font-size: 2rem;
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0.3;
    color: var(--button-color);
    /* transform: translateY(-50%); */
}
.events .event:hover::after{
    display: flex;
}



/* add event */

.add-event-wrapper
{
    position:absolute; 
    width:40%;
    top:7% ;
    overflow: hidden;
    max-height: 0%;
    transition: max-height 0.4s;
    /* min-height: 850px; */
    /* margin: 0 auto; */
    /* padding: 5px; */
    /* color: #fff; */
    /* display: flex; */
    border-radius: 30px;
    background-color: white;
    /* transition: max-height 0.5s;  */
    
    
}



.add-event-wrapper.active{
    max-height: 100%; 
    /* position:static; */

} 

.add-event-header{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: white;
    border-bottom: 1px solid #f5f5f5;
    background-color: var(--button-color);
    /* border-radius: 30px; */
    position: relative;

}
.add-event-header .close{
    font-size: 1rem;
    cursor: pointer;
}
.add-event-header .close:hover{
    color: black;
}
.add-event-header .title{
    font-size: 1.7rem;
    font-weight: 700;

}
.add-event-body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
}
.add-event-body .add-event-input{
    /* width: 100%;  */
     /* height: 40px; */
     /* display: flex;  */

    align-items: center;
    /* justify-content: space-evenly; */
    gap: 10px;
    padding:  0 10px 20px;
    font-size: 1rem;
    font-weight: 400;
    color: #373c4f;


}

.add-event-body .add-event-input input{
    width: 45%; 
    /* height: 100%;
    /* position: relative; */
    outline: none;
    border: none;
    border-bottom:      1px solid  #f5f5f5;
    /* justify-content:; */

}


.add-event-body .add-event-input input::placeholder{
    color: #a5a5a5;
}
.add-event-body .add-event-input input:focus{
    border-color: var(--button-color);
}
.add-event-body .add-event-input input:focus ::placeholder{
    color: var(--button-color);
}
.add-event-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.add-event-btn{
    height: 40px;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    color: white;
    background-color: var(--button-color);
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid var(--button-color);
}
.add-event-btn:hover{
    color: var(--button-color);
    background-color: transparent;
}


.add-event{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    color: white;
    border: 2px solid var(--button-color);

    background-color: var(--button-color);
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;


}
.add-event:hover{
    color: var(--button-color);
    background-color: transparent;
}
.map{
    height: 0;
    width: 0%;
}


.map.active{
    height: 400px;
    width: 100%;

}




.todolist-container {
    /* position: relative; */
    width: 100%;
    height: 0%;
    /* display: flex; */
    display: none;
}
.todolist-container.active{
    /* position: relative; */
    width: 100%;
    height: 100%;
    display:block;
}



.todolist-container .todolist-table  {
    /* display: none; */
    
    width: 100%;
    border-collapse:collapse;
    
}
.todolist-container .todolist-table  td, th {
    border: 1px solid var(--button-color);
    padding: 5px;
    }




